:root {
  --bg-color: #0ea5e9;
  --text-color: #fff;
  --input-bg-color: #cbd5e1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr 5fr;
}

.sidebar {
  grid-row: 1 / 3;
  padding-left: 15px;
  background-color: var(--bg-color);
  color: var(--text-color);
}

.header {
  padding-top: 20px;
  display: flex;
  align-items: center;
}

.sidebar ul {
  padding-top: 40px;
}

.sidebar li {
  list-style: none;
  padding: 10px;
  display: flex;
  align-items: end;
  gap: 5px;
}

.links img {
  width: 25px;
  height: 25px;
}

.sidebar a {
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2rem;
  color: var(--text-color);
}

.sidebar a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.top-content {
  padding: 10px 20px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  row-gap: 10px;
}

.first-section {
  display: flex;
  align-items: center;
  gap: 10px;
}

.first-section input {
  font-size: 1rem;
  border: none;
  border-radius: 12px;
  background-color: var(--input-bg-color);
  padding: 5px 10px;
  outline: none;
}

.first-section input:focus {
  border: 1px solid var(--bg-color);
}

.top-content .icons {
  width: 25px;
  height: 25px;
}

.top-content .profile {
  width: 75px;
  height: 75px;
  border-radius: 50%;
}

.second-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.third-section {
  display: flex;
  align-items: center;
  gap: 30px;
}

.third-section .hero-name {
  font-size: 1.5rem;
}

.fourth-section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.fourth-section button {
  font-size: 1rem;
  font-weight: bold;
  padding: 8px 0;
  width: 100px;
  border: none;
  border-radius: 24px;
  background-color: var(--bg-color);
  color: var(--text-color);
}

.name {
  font-weight: bold;
}

