:root {
  --bg-color: #0ea5e9;
  --text-color: #fff;
  --input-bg-color: #cbd5e1;
  --main-bg-color: #e2e8f0;
  --side-border: #fcd34d;
  --shadow: #64748b;
  --main-text-color: #6b7280;
}

@font-face {
  font-family: custom-fonts;
  src: url(resources/RobotoCondensed-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr 5fr;
  font-family: custom-fonts, sans-serif;
}

.sidebar {
  grid-row: 1 / 3;
  padding-left: 15px;
  background-color: var(--bg-color);
  color: var(--text-color);
}

.header {
  padding-top: 20px;
  display: flex;
  align-items: center;
}

.sidebar ul {
  padding-top: 40px;
}

.sidebar li {
  list-style: none;
  padding: 10px;
  display: flex;
  align-items: end;
  gap: 5px;
}

.links img {
  width: 25px;
  height: 25px;
}

.sidebar a {
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2rem;
  color: var(--text-color);
}

.sidebar a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.top-content {
  padding: 0 30px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  box-shadow: 0 5px 5px 0 var(--shadow);
  z-index: 1;
}

.first-section {
  display: flex;
  align-items: center;
  gap: 10px;
}

.first-section input {
  font-size: 1rem;
  border: none;
  border-radius: 12px;
  background-color: var(--input-bg-color);
  padding: 5px 10px;
  outline: none;
}

.first-section input:focus {
  border: 1px solid var(--bg-color);
}

.top-content .icons {
  width: 25px;
  height: 25px;
}

.top-content .profile {
  width: 75px;
  height: 75px;
  border-radius: 50%;
}

.second-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.third-section {
  display: flex;
  align-items: center;
  gap: 30px;
}

.third-section .hero-name {
  font-size: 1.5rem;
}

.fourth-section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.fourth-section button {
  font-size: 1rem;
  font-weight: bold;
  padding: 8px 0;
  width: 100px;
  border: none;
  border-radius: 24px;
  background-color: var(--bg-color);
  color: var(--text-color);
}

.name {
  font-weight: bold;
}

.main-content {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: repeat(2, 1fr);
  padding: 30px 20px;
  background-color: var(--main-bg-color);
  gap: 30px;
}

.projects {
  grid-row: span 2;
}

.project-container {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  gap: 40px;
}

.project-items {
  font-size: 1.2rem;
  padding: 20px 40px 40px 40px;
  height: 300px;
  border-left: 10px solid var(--side-border);
  border-radius: 12px;
  background-color: var(--text-color);
  box-shadow: 0 10px 5px 0 var(--shadow);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.project-items p {
  margin-top: 15px;
  color: var(--main-text-color);
}

.project-icons {
  align-self: flex-end;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.project-icons img {
  width: 30px;
  height: 30px;
}

.announcement-container {
  margin-top: 10px;
  padding: 30px 50px;
  background-color: var(--text-color);
  border-radius: 12px;
  box-shadow: 0 10px 5px 0 var(--shadow);
}

.announcement-items {
  font-size: 1rem;
  padding: 20px 30px;
  border-bottom: 1px solid var(--shadow);
}

.announcement-items:last-of-type {
  border-bottom: none;
}

.announcement-items p {
  color: var(--main-text-color);
}

.trending-container {
  margin-top: 10px;
  padding: 30px 50px;
  background-color: var(--text-color);
  border-radius: 12px;
  box-shadow: 0 10px 5px 0 var(--shadow);
}

.trending-items img {
  width: 75px;
  height: 75px;
  border-radius: 50%;
}

.trending-items {
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.trending-items p {
  font-weight: bold;
}

.title {
  display: block;
  font-weight: lighter;
  color: var(--main-text-color);
}